p {
  font-size: 12px;
}
h2 {
  font-size: 15px;
}

.bottomPart {
  display: flex;
}

.articlecontainer {
  width: 50%;
  margin: 0 auto;
}

.articlePart {
  background-color: #e5d5c5;
  border-radius: 25px;
  display: flex;
}

#img {
  width: 30%;
}

#heading {
  text-align: center;
}

.comingUp {
  width: 30%;
  margin: 0 auto;
}

.dates {
  background-color: #e5d5c5;
  border-radius: 25px;
  padding: 0.5rem;
}

/*Memory cards area*/
.memories {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.memorials {
  text-align: center;
}
