/*Memory cards area*/
p {
  font-size: 12px;
}

.container {
  background-color: #ead2ac;
  max-width: 15rem;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem !important;
  text-align: center;
}
