/*Memory cards area*/
p {
  font-size: 12px;
}

.container {
  background-color: #f7e5c7;
  width: 150px;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem !important;
  text-align: center;
}

.imge {
  width: 4rem;
}
