.subcontainer {
  text-align: center;
}

.user img {
  width: 10%;
  margin-bottom: -5rem;
  margin-top: 1rem;
}

.banner title {
  padding-top: 10rem;
}

.cards {
  margin: 0 auto;
  max-width: 15rem;
}

.butt {
  border: 1px solid #9b7502;
  background-color: #f5eedf;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  border-radius: 5px;
  color: #9b7502;
  font-weight: bold;
  margin-top: 8%;
}
