.overall {
  display: grid;
  grid-template-columns: 1.3fr 4fr;
}

.container {
  width: 100%;
  background-color: #ead2ac;
  height: 100vh;
  margin: 0;
}

.menuItems {
  display: flex;
  
  flex-direction: column;
}

h1 {
  margin: 0;
}

/*nav items*/
.item {
  
  text-decoration: none;
  padding: 1rem;
  text-align: left;
  align-items: center;
  color: #7e6004;
  font-weight: bold;
}

.rightSection {
  width: 100%;
  background-color: #f5eedf;
}


.menuItems a {
  text-decoration: none;
  padding: 30px 50px;
  
   
}

.menuItems a:hover {
  background-color: white;
}

.menuItems a:active {
  background-color: white;
}

.logo{
  text-align: center;
  margin: 70px 0;
  font-family: "Playfair Display", serif;
}

#ease {
  color: #9b7502;
}

