.container {
  background-color: #f5d5a5;
  margin: 2rem auto;
  max-width: 90%;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.texts {
  text-align: center;
}

.container h4 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
  color: #9b7502;
}

.logo {
  width: 10%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.rightlogo {
  width: 10%;
  text-align: right;
  padding: 0;
  margin: 0;
}
